@page
@model OliWorkshop.AccountingSys.Pages.Earns.IndexModel
@using Humanizer 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1 class="text-center">Incomes</h1>

<div class="row">
    <div class="col-2">
        <p>
            <a class="btn btn-outline-info" asp-page="Create">Create New</a>
        </p>
    </div>
    <partial name="_FilterData" model="Model" />
</div>
@if(Model.GroupRecords == string.Empty){
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Earn[0].Concept)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Earn[0].Amount)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Earn[0].EarnCategory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Earn[0].AtCreated)
                </th>
                <th>
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Earn)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Concept)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.EarnCategory.Name)
                    </td>
                    <td  class="specific-date" data-toggle="tooltip" title="@item.TextDate">
                        @Html.DisplayFor(modelItem => item.TextDateAgo)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @*@Html.RenderPartial("~/Shared/_Paginate", Model.Paginate)*@
}else{
<table class="table">
    <thead>
        <tr>
            <th>
                @Model.GroupRecords
            </th>
            <th>
                Amount
            </th>

            <th>
               Count
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RecordGroupDate)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
            </tr>
        }
    </tbody>
</table>
}

@section Scripts {
    
    <!-- Drop Language String values to pass Javascript runtime -->
    <script type="text/javascript">
        var pageStrings = {
            more: "More Options",
            less: "Less Options",
        };
    </script>

    <!-- Filter record script  -->
    <script src="~/js/filter-record.js"></script>
}


@section Styles {

    <!-- Filter record script  -->
    <link rel="stylesheet" href="~/css/filter.css" />
}
