@page
@model OliWorkshop.AccountingSys.Pages.EarnCategories.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EarnCategory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EarnCategory.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EarnCategory.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EarnCategory.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EarnCategory.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EarnCategory.AtCreated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EarnCategory.AtCreated)
        </dd>
    </dl>
    <hr />
    <h4>Resume and avarage's metric</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Total:  @Html.DisplayFor(model => model.Resume.Total)
        </dt>
        <dt class="col-sm-2">
            Avarage: @Html.DisplayFor(model => model.Resume.AvarageTotal)
        </dt>
        <dt class="col-sm-2">
            Avarage for Year: @Html.DisplayFor(model => model.Resume.AvaragePerYear)
        </dt>
        <dt class="col-sm-2">
            Avarage for Month: @Html.DisplayFor(model => model.Resume.AvaragePerMonth)
        </dt>
        <dt class="col-sm-2">
            Avarage for Day: @Html.DisplayFor(model => model.Resume.AvaragePerDay)
        </dt>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EarnCategory.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
